@use "../../styles/partials/typography";
@use "../../styles/partials/palette";

.ProductList {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 80%;
}

.Error {
	font-family: typography.$primary-font;
	color: palette.$primary-colour;
}
