$primary-colour: #004737;
$secondary-colour: #55f09f;
$tertiary-colour: #d3ffe7; // panels
$quarternary-colour: #80a695;
$quinary-colour: #69f2a8;
$senary-colour: #faf2d5;
$septenary-colour: #3dc082;
$imagebg-colour: #f8f8f8;
$gold-colour: #ffb502;
