$primary-colour: #004737;
$secondary-colour: #55F09F;
$tertiary-colour: #D3FFE7; // panels
$quarternary-colour: #80A695;
$quinary-colour: #69F2A8;
$senary-colour: #FAF2D5;
$septenary-colour: #3DC082;
$imagebg-colour: #f8f8f8;
$gold-colour: #FFB502;