$primary-colour: rgb(214, 204, 194); // PastelGrey
$secondary-colour: rgb(245, 235, 224); //Alabaster
$secondary-colour-80: rgba(245, 235, 224, 0.8); // Alabaster80
$tertiary-colour: rgb(104, 95, 90); // Wenge
$tertiary-colour-80: rgba(104, 95, 90, 0.5);
$tertiary-colour-50: rgba(104, 95, 90, 0.5);
$main-colour: rgb(68, 68, 68); // Outerspace
$group-colour: rgb(227, 213, 202); // Bone
