@use "../../styles/partials/palette";

.Fav {
    margin: 1rem 0;
    background-color: palette.$gold-colour;
    border-radius: 10px;
    color: palette.$primary-colour;
    font-size: 0.8rem;
    width: 100px;
    text-align: center;
}